/* Fonts */

/* Color Override */
.bg-color-navbar {
    background-color: #38E4FF;
}

.bg-color-footer {
    background-color: #38E4FF;
}



/* Buttons */

.btn--color-blue {
    background-color: #165B83;
}

.btn--text-white {
    color: #fff;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}


/* Nav */

nav img {
    height: 35px;
    width: 35px;
}



/* Header */


/* Jumbotron */

.jumbotron-container {
    height: 75vh;
    background: url('../images/dustin-humes-gQoYixf4zC8-unsplash.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#jumbo-text {
    background-color: rgba(73, 61, 61, 0.452);
    font-size: 130%;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30%;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
}

#jumbo-text button {
    position: relative;
}

.jumbotron-container h1 {
    color: #fff;
}


.jumbotron-container p {
    color: #fff;
    font-size: 1.4rem;
}





/* Divider */
.block-divider {
    border: 1px solid #fff;
}





.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Footer */
#socials {
    padding: 20px 0;
    font-size: 160%;
    display: flex;
    justify-content: space-evenly;
}

#socials i {
    font-size: 150%;
    padding: 2%;
    color:#0E405D;
}