/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

/* Default Overrides */

body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Syne",sans-serif;
}


/* Color Override */
.bg-color-navbar {
    background-color: #38E4FF;
}

.bg-color-footer {
    background-color: #38E4FF;
}



/* Buttons */

.btn--color-blue {
    background-color: #165B83;
    color: #fff;
}

.btn--text-white {
    color: #fff;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}


/* Nav */

nav img {
    height: 35px;
    width: 35px;
}



/* Header */


/* Jumbotron */

.jumbotron-container {
    height: 75vh;
    background: url('../images/dustin-humes-gQoYixf4zC8-unsplash.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#jumbo-text {
    background-color: rgba(73, 61, 61, 0.452);
    font-size: 130%;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30%;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
}

#jumbo-text button {
    position: relative;
}

.jumbotron-container h1 {
    color: #fff;
}


.jumbotron-container p {
    color: #fff;
    font-size: 1.4rem;
}




/* Cards */

.card-container {
    margin: 50px 0;
}

.card {
    margin: 2% auto;
    width: 22rem;
    border: 1px solid #000;
    box-shadow: 5px 5px #00000086;
    border-radius: 5px;
}

.card-title {
    font-weight: 600;
    text-decoration: underline;
}


/* Divider */
.block-divider {
    width: 75px;
    height: 5px;
    border: 2px solid #000;
}





.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Footer */
#socials {
    padding: 20px 0;
    font-size: 160%;
    display: flex;
    justify-content: space-evenly;
}

#socials i {
    font-size: 150%;
    padding: 2%;
    color: #0E405D;
}






/* Test */


.headerWrap {
    text-align: center;
    overflow: hidden;
    margin: 10px;
}

.header {
    margin: 5px 0 25px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: #2876eb;
    position: relative;
}

.header:before {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    left: 0vw;
    height: 10px;
    background:
        linear-gradient(#2876eb, #2876eb) top,
        linear-gradient(#2876eb, #2876eb) bottom;
    background-size: 100% 6px, 100% 2px;
    background-repeat: no-repeat;
}